{% extends 'base_admin.html.twig' %}

{% block title %}Edit Prestation{% endblock %}

{% block body %}
    <h1>Edit Prestation</h1>

    {{ include('admin_prestation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_prestation_index') }}">back to list</a>

    {{ include('admin_prestation/_delete_form.html.twig') }}
{% endblock %}
