{% extends 'base_admin.html.twig' %}

{% block title %}Prestation{% endblock %}

{% block body %}
<main id="prestation">
    <h1>Prestation</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>title</th>
                <th>Time</th>
                <th>Price</th>
                <th>actions</th>
                
            </tr>
        </thead>
        <tbody>
        {% for prestation in prestations %}
            <tr>
                <td>{{ prestation.id }}</td>
                <td>{{ prestation.title}}</td>
                <td>{{ prestation.time ? prestation.time|date('H:i:s') : '' }}</td>
                <td>{{ prestation.price }}</td>
                
                <td>
                    <a href="{{ path('app_admin_prestation_show', {'id': prestation.id}) }}">show</a>
                    <a href="{{ path('app_admin_prestation_edit', {'id': prestation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_prestation_new') }}">Create new</a>
</main>
{% endblock %}
