{% extends 'base_admin.html.twig' %}

{% block title %}New Prestation{% endblock %}

{% block body %}
    <h1>Create new Prestation</h1>

    {{ include('admin_prestation/_form.html.twig') }}

    <a href="{{ path('app_admin_prestation_index') }}">back to list</a>
{% endblock %}
