{% extends 'base_admin.html.twig' %}

{% block title %}Prestation{% endblock %}

{% block body %}
    <h1>Prestation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prestation.id }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ prestation.time ? prestation.time|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ prestation.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_prestation_index') }}">back to list</a>

    <a href="{{ path('app_admin_prestation_edit', {'id': prestation.id}) }}">edit</a>

    {{ include('admin_prestation/_delete_form.html.twig') }}
{% endblock %}
