<form method="post" action="{{ path('app_admin_closing_delete', {'id': closing.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ closing.id) }}">
    <button class="btn">Delete</button>
</form>
