{% extends 'base_admin.html.twig' %}

{% block title %}Edit Closing{% endblock %}

{% block body %}
    <h1>Edit Closing</h1>

    {{ include('admin_closing/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_closing_index') }}">back to list</a>

    {{ include('admin_closing/_delete_form.html.twig') }}
{% endblock %}
