{% extends 'base_admin.html.twig' %}

{% block title %}Closing index{% endblock %}

{% block body %}
<main id="closing">
    <h1>Closing</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateTimeStart</th>
                <th>DateTimeEnd</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for closing in closings %}
            <tr>
                <td>{{ closing.id }}</td>
                <td>{{ closing.dateTimeStart ? closing.dateTimeStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ closing.dateTimeEnd ? closing.dateTimeEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_closing_show', {'id': closing.id}) }}">show</a>
                    <a href="{{ path('app_admin_closing_edit', {'id': closing.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_closing_new') }}">Create new</a>
    </main>
{% endblock %}
