{% extends 'base_admin.html.twig' %}

{% block title %}New Closing{% endblock %}

{% block body %}
    <h1>Create new Closing</h1>

    {{ include('admin_closing/_form.html.twig') }}

    <a href="{{ path('app_admin_closing_index') }}">back to list</a>
{% endblock %}
