{% extends 'base_admin.html.twig' %}

{% block title %}Closing{% endblock %}

{% block body %}
    <h1>Closing</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ closing.id }}</td>
            </tr>
            <tr>
                <th>DateTimeStart</th>
                <td>{{ closing.dateTimeStart ? closing.dateTimeStart|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateTimeEnd</th>
                <td>{{ closing.dateTimeEnd ? closing.dateTimeEnd|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_closing_index') }}">back to list</a>

    <a href="{{ path('app_admin_closing_edit', {'id': closing.id}) }}">edit</a>

    {{ include('admin_closing/_delete_form.html.twig') }}
{% endblock %}
