{% extends 'base_admin.html.twig' %}

{% block title %}Edit Slot{% endblock %}

{% block body %}
    <h1>Edit Slot</h1>

    {{ include('admin_slot/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_slot_index') }}">back to list</a>

    {{ include('admin_slot/_delete_form.html.twig') }}
{% endblock %}
