{% extends 'base_admin.html.twig' %}

{% block title %}Slot index{% endblock %}

{% block body %}
<main id="adminslot">
    <h1>Slot</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>MorningTimeStart</th>
                <th>MorningTimeEnd</th>
                <th>ApTimeStart</th>
                <th>ApTimeEnd</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for slot in slots %}
            <tr>
                <td>{{ slot.id }}</td>
                <td>{{ slot.numero }}</td>
                <td>{{ slot.morningTimeStart ? slot.morningTimeStart|date('H:i:s') : '' }}</td>
                <td>{{ slot.morningTimeEnd ? slot.morningTimeEnd|date('H:i:s') : '' }}</td>
                <td>{{ slot.apTimeStart ? slot.apTimeStart|date('H:i:s') : '' }}</td>
                <td>{{ slot.apTimeEnd ? slot.apTimeEnd|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_slot_show', {'id': slot.id}) }}">show</a>
                    <a href="{{ path('app_admin_slot_edit', {'id': slot.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_slot_new') }}">Create new</a>
    </main>
{% endblock %}
