{% extends 'base_admin.html.twig' %}

{% block title %}New Slot{% endblock %}

{% block body %}
    <h1>Create new Slot</h1>

    {{ include('admin_slot/_form.html.twig') }}

    <a href="{{ path('app_admin_slot_index') }}">back to list</a>
{% endblock %}
