{% extends 'base_admin.html.twig' %}

{% block title %}Slot{% endblock %}

{% block body %}
    <h1>Slot</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ slot.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ slot.numero }}</td>
            </tr>
            <tr>
                <th>MorningTimeStart</th>
                <td>{{ slot.morningTimeStart ? slot.morningTimeStart|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>MorningTimeEnd</th>
                <td>{{ slot.morningTimeEnd ? slot.morningTimeEnd|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ApTimeStart</th>
                <td>{{ slot.apTimeStart ? slot.apTimeStart|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ApTimeEnd</th>
                <td>{{ slot.apTimeEnd ? slot.apTimeEnd|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_slot_index') }}">back to list</a>

    <a href="{{ path('app_admin_slot_edit', {'id': slot.id}) }}">edit</a>

    {{ include('admin_slot/_delete_form.html.twig') }}
{% endblock %}
