{% extends 'base_admin.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new user</h1>

    {{ include('admin_user/_form.html.twig') }}

    <a href="{{ path('app_admin_user_index') }}">back to list</a>
{% endblock %}
