{% extends 'base.html.twig' %}

{% block title %}Qu'est ce que la naturopathie{% endblock %}

{% block body %}
    <main id="comment">
        <h1>Naturopathie définition</h1>
        <h2> « La naturopathie est un ensemble de pratiques visant à aider l’organisme à guérir de lui-même, par des moyens exclusivement naturels. Elle repose sur une théorie selon laquelle la force vitale de l’organisme permet à celui-ci de se défendre et de se protéger. » 

        </h2>
        <p>La naturopathie est une médecine douce ancestrale reconnue par l'OMS comme troisième médecine traditionnelle mondiale avec la médecine chinoise et l'Ayurveda.</p><br>
        <p>Préventive et holistique, la naturopathie prend en compte l'être humain dans sa globalité (physique, mental, énergétique et spirituel).</p><br>
        <p>Grâce à différentes techniques utilisées, elle permet de conserver un état de santé optimal.</p><br>
        <p>En stimulant les défenses de l’organisme, la naturopathie favorise l’équilibre des différents systèmes et le processus d’auto-guérison.</p><br>
        <p>Elle permet la recherche de la cause, responsable du déséquilibre. Elle ne s’occupe pas du symptôme qui est le rôle du médecin.</p><br>
        <p>C’est avant tout une démarche d’accompagnement vers un chemin de santé.</p>
        <p>Les approches utilisées en naturopathie sont conçues pour être sûres et non invasives, avec un risque minimal d'effets secondaires.</p>
        <p>En utilisant seulement que des moyens naturels, la naturopathie ne contre pas le fonctionnement de l'organisme.</p>
        <p>Elle ne remplace en aucun cas la médecine conventionnelle.  </p>
    </main>
{% endblock %}

