{% extends 'base.html.twig' %}

{% block title %}Des conseils{% endblock %}

{% block body %}
    <main id="conseils">
            <h1>Les conseils de Nadine</h1>
            </div>
            <section class="advice">
                <article class="art1conseil">
                    <div class="art1photo1">
                        <img src="images/depositphotos_7398085-stock-illustration-silhouette-of-pregnant-woman.webp" alt="grossesse">
                    </div>
                    <h2>La grossesse</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quisquam aspernatur doloremque placeat ea sunt amet et inventore officia neque mollitia cupiditate eveniet, omnis minus id soluta a dolores nobis? Cupiditate accusantium perferendis mollitia minus laboriosam neque et ea porro suscipit id architecto ratione eos aut dignissimos assumenda, fugit illo iusto est. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus amet sint doloribus error quaerat dicta reiciendis, dolorem ratione blanditiis facilis, iure, fugit dignissimos obcaecati? Sint mollitia dignissimos sunt obcaecati quaerat. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos at modi necessitatibus soluta iusto placeat accusantium, hic consectetur quis eum quisquam tenetur accusamus! Quasi ullam beatae accusamus saepe ex! Sapiente?
                    </p>
                </article>
                <article class="art2conseil">
                    <div class="art2photo2">
                        <img src="images/depositphotos_321492970-stock-illustration-young-tired-woman-sleeping-in.webp" alt="sommeil">
                    </div> 
                    <h2>Le sommeil</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, repellat illum nemo totam similique error ipsum quaerat, esse est quisquam voluptas aliquid dicta laboriosam laborum temporibus. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ea autem doloremque, saepe excepturi nostrum, dicta exercitationem laborum tempora, accusamus nobis quam neque deserunt laudantium veniam eum culpa at quidem! Ut beatae ducimus illo. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt in doloremque atque omnis veniam at eius adipisci iusto iure. Quia, modi blanditiis at magni eos asperiores nobis est officia cum? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid accusantium et excepturi. Vero, velit inventore porro obcaecati provident maxime veritatis et soluta fuga deleniti nesciunt tempora dolorum dicta blanditiis dolor.
                    </p>
                </article>
            </section>
        </main>
{% endblock %}
