{% extends 'base.html.twig' %}

{% block title %}Pourquoi consulter{% endblock %}

{% block body %}
    <main id="consulter">
        <h1>Pourquoi consulter un Naturopathe ?</h1>
        <h2>La naturopathie s'adresse à tout le monde. L'hygiène de vie est fondamentale, que l'on soit jeune ou plus âgé, en bonne ou mauvaise santé.</h2>
        <p>En tant que naturopathe et réflexologue, je peux vous accompagner dans divers domaines</p>
        <p>
            La naturopathie est bénéfique pour toute personne désirant comprendre ses maux. La naturopathie peut vous aider si vous avez une mauvaise immunité, des problèmes digestifs et infections récurrentes. Et également sur des conditions plus complexes telles que les maladies auto-immunes, les maladies du côlon irritable, l'infertilité inexpliquée, les fausses couches récurrentes, les déséquilibres hormonaux… Vous pouvez aussi voir un naturopathe pour simplement optimiser votre santé. Les programmes de détoxication, la diminution du stress et un régime alimentaire complet peuvent faire des merveilles pour votre santé et votre bien-être en général. 
        </p>
    </main> 
{% endblock %}