{% extends 'base.html.twig' %}

{% block title %}Contact et rendez-vous{% endblock %}

{% block body %}
    <main id="rdv">
        <h1>Contact - rendez-vous</h1>
        <h2>Je suis à votre disposition du lundi au vendredi de 9 h à 18 h</h2></br>
        <div>
            <a href="{{path('app_rdv')}}"><button>Pour prendre rendez-vous</button></a>
        <div></br>
        <section class="formpresta">
            <form method ="post" action ="">
                <p>
                    <label for="contact">Pour poster votre message</label></br>
                    <label for="firstname">Votre prénom</label><input type="text" name="firstname" id="firstname">
                    <label for="lastname">Votre nom</label><input type="text" name="lastname" id="lastname">
                    <label for="email">Votre email</label><input type="text" name="email" id="email"></br>
                    <textarea name ="contact" id="contact" rows="10" cols="50">
                    </textarea>   
                </p>
                </form>
        </section>
    </main>
{% endblock %}