{% extends 'base.html.twig' %}

{% block title %}Cuisinons ensemble{% endblock %}

{% block body %}
    <main id="recettes">
        <section class="article1rec">
            <div class="art1rec">
                <img src="images/pizza-2068272__340.jpg" alt="pizza">
            </div>
            <div>
                <h2>Recette pizza à ma façon</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab architecto perspiciatis hic! Excepturi similique corrupti, hic voluptates repellat amet eos eligendi dolorem architecto aliquid minima cum consectetur quas sequi maxime?
                    Nisi natus tempora eum iure dignissimos ad impedit non in perspiciatis error, mollitia ipsam sapiente libero commodi cumque voluptatem nostrum praesentium ratione.
                </p>
            </div>
        </section>
        <section class="article2rec">
            <h1>Les recettes de Nadine</h1>
        </section>
        <section class="article3rec">
            <div class="art3rec">
                <img src="images/almonds-1768792__340.jpg" alt="amande">
            </div>
            <div>
                <h2>Recette lait d'amande</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dolore adipisci ipsam commodi quasi, fugit cum ullam, quos, totam explicabo dolorum deleniti doloremque soluta repellendus vel pariatur eos consequuntur fugiat. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas laudantium voluptates placeat accusamus deserunt nostrum distinctio delectus adipisci dolorem molestiae. Vitae nesciunt nulla, laboriosam libero expedita accusantium omnis corrupti explicabo?
                    Veritatis atque, beatae fugit tempora maxime repudiandae ipsam molestiae ab, ipsa velit recusandae quas necessitatibus est aut blanditiis ullam nisi, perspiciatis quidem?
                </p>
            </div>
        </section>
    </main>
{% endblock %}