{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% block header %}
<main id = "home">
        <section class="article1">
            <div class="photos">
                <img src="images/istockphoto-1255236230-612x612.jpg" alt="zen">
                <img src="images/istockphoto-1047814008-612x612.jpg" alt="reflexo">
            </div>
            <div class="art1">
                <h2>Devenez acteur de votre santé grâce à la Naturopathie</h2>
                <p>
                    Médecine douce et ancestrale, avant tout préventive, la naturopathie vise à maintenir et à rétablir la santé grâce à des moyens naturels.
                    Approche globale de la santé, renforce les défenses immunitaires, stimule le pouvoir d'autoguérison, agit positivement sur l'organisme, recherche de la cause et non des symptomes
                </p>
            </div>
        </section>
        <section class="article2">
            <div class="art2">
                <h2>Découvrez les bienfaits de la réflexologie plantaire</h2>
                <p>
                    Plus qu'un massage, la réflexologie plantaire permet de soulager certaines douleurs et troubles émotionnels. Libère les stress et les tensions nerveuses, apporte détente et relaxation profonde, détend les muscles endoloris et fatigués, aide à évacuer les émotions négatives.
                </p>
            </div>
            <div class="photo2">
                <img src="images/istockphoto-856952836-612x612.jpg" alt="spa">
                <img src="images/le-massage-masculin-remet-nuage-de-mot-99253931.jpg" alt="massage">
            </div>
        </section>
    </main>
    {% endblock %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #efdecf; padding: 2px 6px; }
</style>

{% endblock %}
