{% extends 'base.html.twig' %}

{% block title %}Massage{% endblock %}

{% block body %}
    <main id="massage">
        <section class="suedois">
            <div class="massagetext">
                <h1>Massage suédois</h1>
                <p>Le massage suédois est un massage tonique, il agit en profondeur au niveau des muscles et des articulations</p><br>
                <p>Il permet la détente</p>
                <p>A la fois stimulant et relaxant</p>
                <p>Agit sur la circulation sanguine</p>
                <p>Draine et élimine les toxines</p>
                <p>Soulage certains maux</p><br>
                <h2>C'est un enchainement de manoeuvres, frictions, effleurages, pétrissage</h2>
            </div>
            <div class="massagephoto">
                <img src="images/massage.png" alt="massage">
                <img src="images/spa.jpg" alt="spa">
            </div>
        </section>
        <div class="massagetab">
            <a href="{{path('app_tarifs')}}"><h3>Consultez mes tarifs</h3></a>
            <img src="images/tableau-blanc-1560x1372.png" alt="tableau">
        </div>
    </main>
{% endblock %}

