{% extends 'base.html.twig' %}

{% block title %}Naturopathie{% endblock %}

{% block body %}
    <main id="naturo">
        
        <div class="divfeuille1">
            <img src="images/ensemble-illustration-vectorielle-modele-fond-feuille-abstraite_683738-1099.webp" alt="feuille1">
        </div>
        <section class="naturoflex">
            <div class="div1naturo">
                <h2>Qu'est-que la naturopathie ?</h2>
                <a href="{{path('app_comment')}}"><button class="butl1"></button></a>
                <h2>Ses principes fondamentaux</h2>
                <a href="{{path('app_principes')}}"><button class="butl2"></button></a>
            </div>
            <div class="div2naturo">
                <h1>Naturopathie</h1>
                <img src="images/image0000021.jpg" alt="bureau">
            </div>
            <div class="tech">
                <h2>Les techniques</h2>
                <a href="{{path('app_techniques')}}"><button class="butr1"></button></a>
                <h2>Pourquoi consulter ?</h2>
                <a href="{{path('app_consulter')}}"><button class="butr2"></button></a>
            </div>
        </section>
        <div class="divfeuille2">
            <img src="images/ensemble-illustration-vectorielle-modele-fond-feuille-abstraite_683738-1099.webp" alt="feuille2">
        </div>
        <div class="divtab">
            <a href="{{path('app_tarifs')}}"><h3>Consultez mes tarifs</h3></a>
            <img src="images/tableau-blanc-1560x1372.png" alt="tableau">
        </div>
    </main>
{% endblock %}