{% extends 'base.html.twig' %}

{% block title %}Qui suis-je ?{% endblock %}

{% block body %}
    <main id="presentation">
        <section class="present">
            <div class="nadinephoto">
                <h1>Je me présente</h1>
                <img src="images/nadine.jpg" alt="nadine">
                <h2>Attestation Ecole Aesculape</h2>
                <h2>Certification FENA (Fédération Française des Ecoles de Naturopathie)</h2>
                <h2>Formation Professionnelle AmbassaDerm</h2>
            </div>
            <div class="nadinetext">
                <p>Je suis Nadine CREMADES actuellement installée en tant que naturopathe et réflexologue plantaire à Pourrières.</p>
                <p>J’aimais conseiller mes clients et leur apporter des solutions aux problématiques rencontrées. Je leur expliquais également pourquoi leur peau était déshydratée ou terne, avait des imperfections cutanées… Je faisais également le lien entre leur traitement et leur état général. Il était important pour moi d’en rechercher la cause.</p>
                <p> C'est ce qui m'a conduit tout naturellement à la Naturopathie il y a 4 ans. Pour moi c’était une évidence. Le hasard n’existe pas et je sais aujourd’hui pourquoi j’ ai choisi ce chemin.</p>
                <p>Je suis passionnée par ce qu’apporte la nature et ses bienfaits. L’être humain m’a toujours fasciné, j’aime apporter mon aide pour rester en bonne santé. C'est ma mission de vie.</p>
                <p> La richesse de ce métier c’est de comprendre l’individu et d’accepter que chacun est différent. Il faut être prêt pour changer son hygiène de vie, de modifier certaines règles, c’est selon les tempéraments et l’adaptation de chacun. </p>
                <h2> La naturopathie est une invitation à suivre le chemin de la nature. Je serai heureuse de vous le faire découvrir. </h2>
            </div>
            <div class="nadineavis">
                <h2>Ils ont aimé...</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus id placeat facilis blanditiis voluptatum quas, quam adipisci omnis vel officia libero at temporibus illo necessitatibus veritatis qui quaerat error pariatur!</p><br>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe modi, beatae nihil similique labore quam minima cumque repudiandae molestiae, quae optio id nisi ipsa facilis pariatur. Sit, suscipit incidunt. Deserunt!</p><br>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore iusto illo numquam, soluta et fuga enim quae laudantium at nobis rem temporibus aspernatur nemo mollitia illum ducimus dolor amet neque?</p>
            </div>
        </section>
    </main>
{% endblock %}