{% extends 'base.html.twig' %}

{% block title %}Les principes fondamentaux{% endblock %}

{% block body %}
    <main id="principes">
        <h1>Les principes fondamentaux en naturopathie</h1>
        <h2> " Que ton aliment soit ton seul médicament. Hippocrate"</h2>
        <h3>L'hygienisme</h3>
        <p>En naturopathie, nous considérons qu'un mode de vie sain et un contact régulier avec les éléments naturels (air, eau, soleil, terre) sont la source d'une bonne santé.</p><br>
        <h3>Le causalisme</h3>
        <p> Le naturopathe ne traite pas les symptômes qui est pour lui le signe d'un trouble plus profond. Il essaiera plutôt d'identifier les causes profondes sous-jacentes de celui-ci.
        </p><br>
        <h3>l'Humorisme</h3>
        <p> Pour le naturopathe, il est essentiel d'établir l'harmonie entre tous les liquides constituant 70% du corps humain. Son rôle est de maintenir un équilibre entre la production de déchets métaboliques et son élimination en corrigeant toutes surcharges de toxines, carences en nutriments et en favorisant une bonne circulation des fluides nécessaires au maintien d'une bonne santé.</p><br>
        <h3>L'holisme</h3>
        <p> Cette approche regarde l'être humain dans son ensemble, considérant que tout est lié à tous les niveaux (physiquement, mentalement, émotionnellement, spirituellement, socialement, culturellement …) et que quelque chose qui affecte un niveau influencera également les autres.
        </p>
    </main>
{% endblock %}