{% extends 'base.html.twig' %}

{% block title %}Prendre Rendez-vous{% endblock %}

{% block body %}
    <main id="rendezvous">
        <div>
            <h1>Rendez-vous en ligne</h1></br>
        </div>
        <div>
            {{ form(form) }}
        </div>
    </main>
{% endblock %}