{% extends 'base.html.twig' %}

{% block title %}Réflexologie{% endblock %}

{% block body %}
    <main id="reflexologie">
        <section class="reflexo">
            <div class="reflexoimg">
                <img src="images/image0000011.jpg" alt="reflexo">
                <img class="pied1" src="images/pieds.png" alt="pied">
                <img class="pied2" src="images/pieds.png" alt="pied">
                <img class="pied3" src="images/pieds.png" alt="pied">
                <img class="pied4" src="images/pieds.png" alt="pied">
                <img class="pied5" src="images/pieds.png" alt="pied">
                <img class="pied6" src="images/pieds.png" alt="pied">
                <img class="pied7" src="images/pieds.png" alt="pied">
            </div>
            <div class="reflexotext">
                <h1>Réflexologie plantaire</h1>
                <h2>La réflexologie plantaire est une technique ancestrale permettant par des points de pressions de stimuler, d’apaiser, d’équilibrer l’ensemble des systèmes (cardio vasculaire, immunitaire, digestif, urinaire, hormonal...).</h2><br>
                <p>Pendant la séance, une pression sera appliquée sur des points spécifiques de vos pieds. Ces points correspondent à des organes et des zones de votre corps.</p><br>
                <h2>Les bienfaits de la réflexologie plantaire</h2>
                <p>La réflexologie relance l énergie, stimule, équilibre pour divers maux : Des maux de tête aux problèmes de sinus en passant par les problèmes d'estomac. Grâce aux points de pressions sur les zones réflexes (système nerveux, immunitaire, colonne…), la réflexologie aide à relance l'énergie. En relançant votre énergie vitale, je vous aide à libérer les déchets et à optimiser le processus d auto guérison. Ce qui permet desoulager vos douleurs et vos émotions. Si une sensibilité est ressentie lorsqu'une zone est stimulée, cela indique une faiblesse corporelle ou un déséquilibre au sein de l'organe correspondant.</p><br>
                <p>La réflexologie possède des contre indications et des précautions sont à prendre pour certains cas.</p>
            </div>
        </section>
        <div class="reflexotab">
            <a href="{{path('app_tarifs')}}"><h3>Consultez mes tarifs</h3></a>
            <img src="images/tableau-blanc-1560x1372.png" alt="tableau">
        </div>
    </main>
{% endblock %}
