{% extends 'base.html.twig' %}

{% block title %}Nous retrouver{% endblock %}

{% block body %}
    <main id="retrouver">
        <h1>Evènements à venir</h1>
        <section class="affiches">
            <article class="art1event">
                <h2>Journée de la naturopathie - la Crau 83</h2>
                <img src="images/affiche-1ere-journee-de-la-Naturopathie-La-Crau.jpg" alt="journee">
            </article>
            <article class="art2event">
                <h2>Journée du bien être - Cormeilles-en-Parisis</h2>
                <img src="images/c8ca16d1e15b28b6d51a2308688f5e47-affiche-journee-bien-etre-26-juin-2022-1-36.png" alt="bienetre">
            </article>
            <article class="art3event">
                <h2>FestiNature conférences</h2>
                <img src="images/conferences-728x1024.png" alt="conf">
            </article>
        </section>
    </main>
{% endblock %}
