{% extends 'base.html.twig' %}

{% block title %}Tarifs{% endblock %}

{% block body %}
    <main id="tarifs">
        <h1>Tarifs</h1>
        <h2>Chaque consultation est individualisée, prend en compte les possibilités et limites de chacun (motivation, rythme de vie, environnement...).</h2><br>
        <h3>1ère consultation - 60 euros (2h)</h3>
        <p>Cette séance permet d'identifier vos attentes, d'en savoir plus sur votre histoire, votre mode de vie et vos traitements en cours.</p><br>
        <h3>Séance</h3>
        <p>Minimum 3 consultations en forfait à 144 euros</p><br>
        <h3>Consultation suivante - 50 euros (1h30)</h3>
        <p>La consultation de suivi dure 1h30. Elle permet de faire le point , de voir où vous en êtes et de vous aider à  poursuivre votre cheminement.</p><br>
        <h3>Consultation en fleurs de Bach - 50 euros</h3><br>
        <h3>Séance en réflexologie plantaire - 40 euros (1h30) forfait 5 séances à 180 euros</h3><br>
        <h3>Massage suédois - 75 euros (1h15)</h3><br>
        <h2>Le Naturopathe est un éducateur de santé, sa démarche est préventive, il ne se substitut en aucun cas au médecin ni au traitement.</h2>
    </main>
{% endblock %}
