{% extends 'base.html.twig' %}

{% block title %}Les techniques{% endblock %}

{% block body %}
    <main id="techniques">
        <h1>Les techniques utilisées en naturopathie</h1>
        <h2>La naturopathie repose sur 10 principales techniques</h2>
        <p>Faire circuler les liquides (sang, lymphe)</p>
        <p>Drainer le corps et d'épurer au travers des 5 organes (foie, intestin, reins, peau, poumons)</p>
        <p>Libérer les blocages émotionnels, énergéiques, mentaux...</p>
        <p>Stimuler l'auto-guérison du corps</p><br>
        <h2>Les techniques essentielles en naturopathie</h2>
        <p>Ces 3 premières techniques sont appelées en naturopathie les 3 techniques majeures. Elles sont indispensables à une bonne santé</p><br>
        <h3>L'alimentation</h3>
        <p>Elle permet d’apporter les nutriments et micronutriments (vitamines, minéraux, oligoéléments, antioxydants, acides aminés, oméga 3/6/9, probiotiques…) nécessaires à l’organisme.</p><br>
        <h3>La psychologie</h3>
        <p>Cette technique regroupe toutes les techniques de relaxation telles que la gestion du stress, la relation d’aide, la psychothérapie, la sophrologie…  Pilier important de la naturopathie, nos émotions ont un impact sur le corps et vice et versa. Un corps en souffrance impact l’individu sur son mental (émotions).</p><br>
        <h3>Le mouvement</h3>
        <p>L’exercice physique permet une bonne harmonie du corps, une meilleure circulation, une meilleure oxygénation.</p><br>
        <h2>Les techniques complémentaires en naturopathie</h2>
        <h3>L'hydrologie</h3>
        <p>Utilisation de l’eau froide ou chaude, (hammam, sauna, lavement, douche, bouillote, tisanes…).</p>
        <p>L’eau permet le drainage des toxines par la peau grâce à la transpiration (hammam, sauna), d’hydrater le corps de l’intérieur (l’apport de tisanes, eau), de décongestionner, de soulager des douleurs (bouillote), de nettoyer et de purifier (lavement).</p><br>
        <h3>Les techniques manuelles</h3>
        <p>Redécouvrir le contact du corps par le toucher grâce aux massages bien-être, l’équilibre par l’ostéopathie et chiropractie.</p><br>
        <h3>La respiration</h3>
        <p>Techniques de relaxation par un sophrologue. Permet le lâcher prise, re concentration sur soi, l’oxygénation. Il est essentiel de respirer, de s’aérer en conscience pour retrouver une énergie positive.</p><br>
        <h3>La reflexologie plantaire</h3>
        <p> Technique ancestrale permettant par des points de pressions de stimuler, d’apaiser, d’équilibrer l’ensemble des systèmes (cardio vasculaire, immunitaire, digestif, urinaire, hormonal…). La réflexologie plantaire  favorise la libération des déchets, des émotions, soutien le système immunitaire et favorise le processus d'auto guérison du corps tout comme la naturopathie, renforce la force vitale ce qui permet de soulager les douleurs éventuelles.</p><br>
        <h3>La phytologie</h3>
        <p> L'utilisation des plantes (en phytothérapie), des bourgeons (en gemmothérapie), des huiles essentielles (en aromathérapie).</p>
        <h3>Les techniques énergétiques</h3>
        <p>L'utilisation d'aimants, les pratiques de soins énergétiques.</p><br>
        <h3>Les techniques vibratoires</h3>
        <p>L'utilisation des couleurs (chromothérapie), des sons (musique, bol Tibétain), de rayonnements solaires et lumineux, de la musique…</p>


    </main>
{% endblock %}