<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
            

        {% endblock %}

        {% block javascripts %}
          {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
       
    <body> 
        <header>  
            <div class="entete">
                  <img  class="logo" src ="./images/istockphoto-1183896417-612x612.jpg">
                <h1 class="h1name">Nadine Crémades</h1><h2 class="h1activity">Naturopathe - réflexologue</h2>
                <h2 class="h2chemin">Le chemin de la nature</h2>
            </div>   

            <div class=naventete>
                <nav class="menu">
                    <ul class="ulmenu">
                        <li class="deroulant"><a href="{{path('app_accueil')}}">Un atelier ?</a>
                            <ul class="sous">
                                <li><a href="{{path('app_cuisinons')}}">Cuisinons ensemble</a></li>
                                <li><a href="{{path('app_retrouver')}}">Nous retrouver</a></li>
                                <li><a href="{{path('app_conseils')}}">Des conseils</a></li>
                            </ul>
                        </li>
                        <li class="deroulant"><a href="{{path('app_naturopathie')}}">Naturo et/ou reflexo</a>
                            <ul class="sous">
                                <li><a href="{{path('app_naturopathie')}}">Naturopathie</a></li>
                                <li><a href="{{path('app_reflexologie')}}">Réflexologie</a></li>
                            </ul>
                        </li>
                        <li class="deroulant"><a href="{{path('app_massage')}}">Instant suspendu</a></li>
                        <li class="deroulant"><a href="{{path('app_presentation')}}">Qui suis-je ?</a></li>
                        <li class="deroulant"><a href="{{path('app_tarifs')}}">Tarifs</a></li>
                        <li class="deroulant"><a href="{{path('app_contact')}}">Contact et rendez-vous</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        {% block body %}
        
        {% endblock %}

        <footer>
            <hr>
            <p>31 allée de la pinède chemin des batailloles 83470 Saint Maximin la Sainte Baume </p>
            <p>naturpath.cremades@gmail.com | téléphone : 06 63 21 82 89</p>
            <a href="">
                <img src="images/facebook-icon.png" alt="fb">
                <img src="images/instagram-icon.png" alt="insta">
            </a>
            <p>Mentions légales</p>
        </footer>
    </body>
</html>
