<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
        {% block stylesheets %}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
            

        {% endblock %}

        {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
       
    <body> 
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ADMIN</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_admin_user_index')}}">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_admin_slot_index')}}">Slot</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_admin_prestation_index')}}">Prestation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_admin_closing_index')}}">Closing</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    {% block body %}
        
    {% endblock %}

    </body>
</html>