//Font family
@font-face{
    font-family: OpenSans;
    src: url('OpenSans-variable.ttf');
}
//Déclaration font family
body{
    font-family: OpenSans;
    max-width: 1920px;
}

//Variables
$homepage-body-color : #efdecf;
$title-color : #516b99;
$paragraphe-color:#516b99;
$paragraphe-size:0.99vw;
$h2p:1.2vw;
$h1p:1.8vw;

//code homepage entête
#homepage{
    background-color: $homepage-body-color;
}
//code homepage entête avec logo
.entete{
    display: flex;
    flex-flow: row wrap;
    .logo {
        width: 35%;
    }
    .h1name{
        font-size: 2.4vw;
        margin-left: -7vw;
        margin-right: 1vw;
        color:#a39cac;
    }
    .h1activity{
        font-size: 2.4vw;
        margin-left: 4vw;
        color:#516b99;
    }
    .h2chemin{
        font-size: 2vw;
        margin-left: 35vw;
        margin-top: -3vw;
        color: #516b99;
    }
    @media screen and(max-width : 780px){
        .logo{
            width: 100%;
        }
        .h1name{
            font-size: 4.3vw;
            margin-left: 0vw;
            margin-right: 0vw;
        }
        .h1activity{
            font-size: 4vw;
            margin-left: 0vw;
            position:relative;
            left: 3vw;
            top:0.3vw;
        }
        .h2chemin{
            font-size: 3.5vw;
            margin-left: 0vw;
            margin-top:0vw;
        }
    }
    @media screen and(min-width : 780px) and(max-width : 980px){  
        .logo{
            width: 40%;
        }
        .h1name{font-size: 2.8vw;
            margin-left: -8vw;
            margin-right: 2vw;
            }
        .h1activity{  
            font-size: 2.8vw;
            margin-left: 0vw;
        }
        .h2chemin{  
            font-size: 2.4vw;
            margin-left: 40vw;   
        }
    }
}

//code homepage entête navigation
.naventete{
    display: flex;
    margin-bottom: 5vw;
    .bienvenue{
        font-size: 1.5vw;
        margin-top: 0.99vw;
        color:#516b99;
    }
    @media screen and(max-width : 780px){
        .bienvenue{
            font-size: 3.7vw;
        }
    }
    @media screen and(min-width : 780px) and(max-width : 980px){  
        .bienvenue{font-size: 1.8vw; 
        }
    }
}
.menu{
    display: flex;
    font-size: 1.2vw;
    @media screen and(min-width : 780px) and(max-width : 980px){  
        font-size: 1.6vw; 
        .ulmenu{
            display: flex;
        }
    } 
    .deroulant{
        list-style-type: none;
        margin-left: 2vw;
        margin-right: 2vw;
        margin-top: 1.2vw;
            a:hover{
                color: #516b99;
            }
    }       
    @media screen and(max-width : 780px){   
        flex-direction: column;  
        font-size: 2.9vw;  
    }
    .deroulant:hover .sous{
        display: block;
    }
    .sous{
        display: none;
        list-style-type: none;
        padding-left:0px;
        position:absolute;
        z-index: 123;
        @media screen and(min-width : 780px) and(max-width : 980px){  
            font-size: 1.3vw;
            display: block;   
    }
    }
    .sous a:hover{
        background-color:#a39cac;
        color: #516b99;
    }
    a{
        text-decoration: none;
        display: block;
        text-decoration: none;
        color:#a39cac;
        font-weight: bold;
    }
}

//code footer
footer{
    text-align: center;
    @media screen and(max-width : 780px){
        padding: 3vw;
    }
    hr{
        width: 40vw;
        color: #a39cac;
    }
    p{
        color: #a39cac;
        font-weight: bold;
        font-size: 1.2vw;
        margin-top:0;
        margin-bottom:0;
        @media screen and(max-width : 780px){
            font-size: 2.22vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            font-size: 1.7vw;
    }
    }
    img[alt~="fb"]{
        width: 3vw;
        background-color: #a39cac;
    }
    img[alt~="insta"]{
        width: 3vw;
        background-color: #a39cac;
    }
}   

//main home section 1
#home {
    .article1{
        display: flex;
        height: 20vw;
        @media screen and(max-width : 780px){
            flex-direction: column;
            height: 55vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            flex-direction: column;
            height: 35%;
        }
    }
    img[alt~="zen"]{
        width: 16vw;
        position: relative;
        left: 2vw;
        @media screen and(max-width : 780px){
            width: 30vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            width: 30vw;
        }
        animation-name: fadein;
        animation-duration: 7s;
    }
    @keyframes fadein {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    img[alt~="reflexo"]{
        width: 22vw;
        position: relative;
        top: 5vw;
        left: 5vw;
        @media screen and(max-width : 780px){
            width: 35vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            width: 35vw;
        }
        animation-name: fadein;
        animation-duration: 6s;
    }
    p{
        font-size: 0.99vw;
        color:$paragraphe-color;
        @media screen and(max-width : 780px){
            font-size: 2.3vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            font-size: 1.6vw;
        }
    }
    h2{
        font-size: 1.2vw;
        color:$paragraphe-color;
        @media screen and(max-width : 780px){
            text-align: center;
            font-size: 3vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            font-size: 1.7vw;
        }
    }
    .photos{
        width: 49%;
        @media screen and(max-width : 780px){
            display: flex;
            justify-content: center;
            width: 100%;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            display: flex;
            justify-content: center;
            padding-top: 2vw;
            width: 100%;
        }
    }
    .art1{
        width: 49%;
        padding: 0vw 3vw 0vw 0vw;
        @media screen and(max-width : 780px){
            width: 100%;
            padding: 5vw 0vw 0vw 0vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            width: 100%;
            padding: 7vw 0vw 0vw 0vw;
    }
}
    .article2{
        display: flex;
        height: 20vw;
        @media screen and(max-width : 780px){
            height: 55vw;
            flex-direction: column-reverse;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            flex-direction: column-reverse;
            height: 35%;
        }
    }
    img[alt~="spa"]{
        width: 16vw;
        position: relative;
        bottom: 5vw;
        left: 3vw;
        @media screen and(max-width : 780px){
            width: 30vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            width: 30vw;
        }
        animation-name: fadein;
        animation-duration: 5s;
    }
    img[alt~="massage"]{
        width: 20vw;
        position: relative;
        left: 6vw;
        top: 3vw;
        @media screen and(max-width : 780px){
            width: 35vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            width: 35vw;
        }
        animation-name: fadein;
        animation-duration: 4s;
    }
    .art2{
        width: 49%;
        padding: 0vw 3vw 0vw 3vw;
        @media screen and(max-width : 780px){
            width: 100%;
            padding: 0vw 0vw 0vw 0vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            width: 100%;
            padding: 3vw 0vw 0vw 0vw;
    }
    }
    .photo2{
        width: 49%;
        @media screen and(max-width : 780px){
            display: flex;
            justify-content: center;
            width: 100%;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
}
//main section recettes page Cuisinons
#recettes{
    display: flex;
    margin:0vw 3vw 6vw 3vw;
    @media screen and(max-width : 780px){
        flex-direction: column;
    }
    @media screen and(min-width : 780px) and(max-width : 980px){  
        flex-direction: column;
        margin:10vw 3vw 6vw 3vw;
    }
    .article1rec{
        display: flex;
        flex-direction: column;
        width: 33%;
        @media screen and(max-width : 780px){
            width: 100%;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            width: 100%;
        }
        .art1rec{
            display: flex;
            justify-content: center;
        }
    }
    img[alt~="pizza"]{
        width: 20vw;
        @media screen and(max-width : 780px){
            width: 30vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            width: 30vw;
        }
    }
    .article2rec{
        width: 33%;
        text-align: center;
        @media screen and(max-width : 780px){
            width: 100%;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            width: 100%;
        }
    }
    .article3rec{
        width: 33%;
        display: flex;
        flex-direction: column;
        .art3rec{
            display: flex;
            justify-content: center;
        }
        p{
            font-size: $paragraphe-size;
            color: $paragraphe-color;
        }
        @media screen and(max-width : 780px){
            width: 100%;
            p{
                font-size: 2.3vw;
            }
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            width: 100%;
            p{
                font-size: 1.6vw;
            }
        }
    }
    img[alt~="amande"]{
        width: 20vw;
        @media screen and(max-width : 780px){
            width: 30vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            width: 30vw;
        }
    }
    p{
        font-size: $paragraphe-size;
        color: $paragraphe-color;
        @media screen and(max-width : 780px){
            font-size: 2.3vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            font-size: 1.6vw;
        }
    }
    h1{
        font-size: $h1p;
        color: $title-color;
        @media screen and(max-width : 780px){
            font-size: 3.9vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            font-size: 2vw;
        }
    }
    h2{
        text-align: center;
        color: $title-color;
        font-size: $h2p;
        @media screen and(max-width : 780px){
            font-size: 3vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            font-size: 1.7vw;
        }
    }
}

//main section retrouver page Nous retrouver
#retrouver{
    margin:0vw 3vw 6vw 3vw;
    .affiches{
        display: flex;
        @media screen and(max-width : 780px){
            flex-direction: column;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            flex-direction: column;
        }
    }
    h1{
        font-size: $h1p;
        color:$title-color;
        text-align: center;
        @media screen and(max-width : 780px){
            font-size: 3.9vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            font-size: 2vw;
        }
    }
    h2{
        font-size: $h2p;
        color: $title-color;
        @media screen and(max-width : 780px){
            font-size: 2.3vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            font-size: 1.7vw;
        }
    }
    img[alt~="journee"]{
        width: 18vw;
        @media screen and(max-width : 780px){
            width: 30vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            width: 30vw;
        }
    }
    img[alt~="bienetre"]{
        width: 18vw;
        @media screen and(max-width : 780px){
            width: 30vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            width: 30vw;
        }
    }
    img[alt~="conf"]{
        width: 18vw;
        @media screen and(max-width : 780px){
            width: 30vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            width: 30vw;
        }
    }
    .art1event{
        width: 33%;
        text-align: center;
        @media screen and(max-width : 780px){
            width: 100%;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            width: 100%;
        }
    }
    .art2event{
        width: 33%;
        text-align: center;
        @media screen and(max-width : 780px){
            width: 100%;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
    }
    .art3event{
        width: 33%;
        text-align: center;
        @media screen and(max-width : 780px){
            width: 100%;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            width: 100%;
        }
    }
}

//main section conseils page Des conseils
#conseils{
    margin:0vw 3vw 6vw 3vw;
    .advice{
        display: flex;
        @media screen and(max-width : 780px){
            flex-direction: column;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            flex-direction: column;
        }
    }
    h1{
        font-size: $h1p;
        color:$title-color;
        text-align: center;
        margin: 0vw 0vw 4vw 0vw;
        @media screen and(max-width : 780px){
            font-size:3.9vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            font-size: 2vw;;
        }   
    }
    h2{
        font-size: $h2p;
        color: $title-color;
        @media screen and(max-width : 780px){
            font-size: 3vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            font-size: 1.7vw;;
        }
    }
    .art1conseil{
        width: 50%;
        margin-right: 3vw;
        .art1photo1{
            text-align: center;
        }
        @media screen and(max-width : 780px){
            width: 100%;
            margin-right: 0vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            width: 100%;
            margin-right: 0vw;
        }
    }
    .art2conseil{
        width: 50%;
        margin-left:3vw;
        .art2photo2{
            text-align: end;  
            @media screen and(max-width : 780px){
                text-align: center;
            } 
            @media screen and(min-width : 780px) and(max-width : 980px){  
                text-align: center;;
            }    
        }
        @media screen and(max-width : 780px){
            width: 100%;
            margin-left: 0vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            width: 100%;
            margin-left:0vw ;
        }
    }
    img[alt~="grossesse"]{
        width: 9vw;
        @media screen and(max-width : 780px){
            width: 14vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            width: 14vw;
        }
    }
    img[alt~="sommeil"]{
        width: 20vw;
        @media screen and(max-width : 780px){
            width: 30vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            width: 30vw;
        }
    }
    p{
        font-size: $paragraphe-size;
        color: $paragraphe-color;
        column-width: 15vw;
        @media screen and(max-width : 780px){
            font-size:2.3vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            font-size: 1.6vw;;
        }
    }
}

//main naturo page La naturopathie
#naturo{
    margin:0vw 3vw 6vw 3vw;
    h1{
        font-size: $h1p;
        color:$title-color;
        text-align: center;
        position: relative;
        bottom: 5vw;
    }
    h2{
        font-size: $h2p;
        color: $title-color;
    }
    h3{
        color:$title-color;
        font-size: 1.6vw;
        position: relative;
        top: 8vw;
        margin: 0vw;
    }
    img[alt~="bureau"]{
        width: 25vw;
        position: relative;
        bottom: 4vw;
    }
    img[alt~="feuille1"]{
        width: 25vw;
        animation-name: fadein;
        animation-duration: 5s;
    }
    @keyframes fadein {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    img[alt~="feuille2"]{
        width: 25vw;
        animation-name: fadein;
        animation-duration: 7s;
    }
    img[alt~="tableau"]{
        width: 21vw;
    }
    .naturoflex{
        display: flex;
        div{
            width: 33%;
        }
        height: 10vw;
        text-align: center;
        .tech{
            width: 33%;
            position: relative;
            top: 12vw;
        }
    }
    .divfeuille1{
        text-align: end;
        height: 12vw;
        padding-right: 5vw;
        margin-top: -6vw;
    }
    .divfeuille2{
        padding-left: 3vw;
    }
    .divtab{
        text-align: center;
    }
    .butl1{
        width: 3vw;
        font-weight: bold;
        background-color: green;
        height: 1vw;
        border: none;
        border-radius: 7px;
        position: relative;
        left: 13vw;
        bottom: 2.7vw;
    }
    .butl2{
        width: 3vw;
        font-weight: bold;
        background-color: green;
        height: 1vw;
        border: none;
        border-radius: 7px;
        position: relative;
        left: 13vw;
        bottom: 2.7vw;
    }
    .butr1{
        width: 3vw;
        font-weight: bold;
        background-color: green;
        height: 1vw;
        border: none;
        border-radius: 7px;
        position: relative;
        right: 14vw;
        bottom: 2.7vw;
    }
    .butr2{
        width: 3vw;
        font-weight: bold;
        background-color: green;
        height: 1vw;
        border: none;
        border-radius: 7px;
        position: relative;
        right: 14vw;
        bottom: 2.7vw;
    }
    .div2naturo{
        @media screen and(max-width : 780px){
            h1{
                font-size: 3.9vw;
            }
        }
    }
}
//main comment de la page qu'est ce que la naturopathie ?
#comment{
    margin:0vw 6vw 3vw 6vw;
    h1{
        font-size: $h1p;
        color:$title-color;
        text-align: center;
        bottom: 5vw;
    }
    h2{
        font-size: $h2p;
        color: $title-color;
    }
    p{
        font-size: $paragraphe-size;
        color: $paragraphe-color;
    }
}
//main principes de la page Les principes fondamentaux
#principes{
    margin:0vw 6vw 3vw 6vw;
    h1{
        font-size: $h1p;
        color:$title-color;
        text-align: center;
        bottom: 5vw;
    }
    h2{
        font-size: $h2p;
        color: $title-color;
    }
    h3{
        color:$title-color;
        font-size: 1.6vw;
    }
    p{
        font-size: $paragraphe-size;
        color: $paragraphe-color;
    }
}
// main techniques de la pages Les techniques
#techniques{
    margin:0vw 6vw 3vw 6vw;
    h1{
        font-size: $h1p;
        color:$title-color;
        text-align: center;
        bottom: 5vw;
    }
    h2{
        font-size: $h2p;
        color: $title-color;
    }
    h3{
        color:$title-color;
        font-size: 1.6vw;
    }
    p{
        font-size: $paragraphe-size;
        color: $paragraphe-color;
    }
}
//main consulter de la page Pourquoi consulter un Naturopathe
#consulter{
    margin:0vw 6vw 3vw 6vw;
    h1{
        font-size: $h1p;
        color:$title-color;
        text-align: center;
        bottom: 5vw;
    }
    h2{
        font-size: $h2p;
        color: $title-color;
    }
    h3{
        color:$title-color;
        font-size: 1.6vw;
    }
    p{
        font-size: $paragraphe-size;
        color: $paragraphe-color;
    }
}
//main tarifs de la page Tarifs
#tarifs{
    margin:0vw 6vw 3vw 6vw;
    h1{
        font-size: $h1p;
        color:$title-color;
        text-align: center;
        bottom: 5vw;
    }
    h2{
        font-size: $h2p;
        color: $title-color;
    }
    h3{
        color:$title-color;
        font-size: 1.6vw;
    }
    p{
        font-size: $paragraphe-size;
        color: $paragraphe-color;
    }
}
//main reflexologie de la page Réflexologie
#reflexologie{
    margin:0vw 3vw 3vw 3vw;
    .reflexo{
        display: flex;
    }
    .reflexoimg{
        width: 50%;
    }
    .reflexotext{
        width: 50%;
    }
    img[alt~="reflexo"]{
        width: 25vw;
    }
    img[alt~="pied"]{
        width: 8vw;
        animation-name: fadein;
        animation-duration: 5s;
    }
    @keyframes fadein {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    img[alt~="tableau"]{
        width: 21vw;
    }
    .pied8{
        position: relative;
        bottom:5vw;
    }
    .pied6{
        position: relative;
        top:4vw;
    }
    .pied5{
        position: relative;
        top:7vw;
    }
    .pied4{
        position: relative;
        top:9vw;
    }
    .pied3{
        position: relative;
        top:10vw;
    }
    .pied2{
        position: relative;
        bottom:2vw;
    }
    .pied1{
        position: relative;
        bottom:8vw;
    }
    h1{
        font-size: $h1p;
        color:$title-color;
        text-align: center;
        bottom: 5vw;
    }
    h2{
        font-size: $h2p;
        color: $title-color;
    }
    h3{
        color:$title-color;
        font-size: 1.6vw;
        position: relative;
        top: 8vw;
        margin: 0vw;
    }
    p{
        font-size: $paragraphe-size;
        color: $paragraphe-color;
    }
    .reflexotab{
        text-align: center;
    }
}
//main massage de la page Instant suspendu
#massage{
    margin:0vw 3vw 3vw 3vw;
    .suedois{
        display: flex;
    }
    h1{
        font-size: $h1p;
        color:$title-color;
        text-align: center;
    }
    h2{
        font-size: $h2p;
        color: $title-color;
        text-align: center;
    }
    h3{
        color:$title-color;
        font-size: 1.6vw;
        position: relative;
        top: 8vw;
        margin: 0vw;
    }
    p{
        font-size: $paragraphe-size;
        color: $paragraphe-color;
        text-align: center;
    }
    img[alt~="tableau"]{
        width: 21vw;
    }
    img[alt~="massage"]{
        width: 17vw;
        position: relative;
        left: 4vw;
        top: 4vw;
    }
    img[alt~="spa"]{
        width: 17vw;
        position: relative;
        top:14vw;
    }
    .massagetext{
        width: 50%;
    }
    .massagephoto{
        width: 50%;
    }
    .massagetab{
        text-align: center;
    }
}
#presentation{
    margin:0vw 3vw 3vw 3vw;
    .present{
        display: flex;
        @media screen and(max-width : 780px){
            flex-direction: column;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            flex-direction: column;
    }
    }
    .nadinephoto{
        width: 33%;
        @media screen and(max-width : 780px){
            width: 100%;
            text-align: center;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            width: 100%;
            text-align: center;
    }
    }
    .nadinetext{
        width: 33%;
        @media screen and(max-width : 780px){
            width: 100%;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            width: 100%;
    }
    @media screen and(min-width : 780px) and(max-width : 980px){  
        padding-top: 2vw;    
    }
        p{
            margin:2vw;
            @media screen and(min-width : 780px) and(max-width : 980px){  
                font-size: 1.6vw;    
        }
        }
        
    }
    .nadineavis{
        width: 33%;
        @media screen and(max-width : 780px){
            width: 100%;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            width: 100%; 
    }
        p{
            margin:2vw;
            @media screen and(min-width : 780px) and(max-width : 980px){  
                font-size: 1.6vw;    
        }
        }
        border:1px solid #a39cac;
    }
    h1{
        font-size: $h1p;
        color:$title-color;
        text-align: center;
        bottom: 5vw;
        @media screen and(max-width : 780px){
            font-size: 3.9vw;
            margin:0vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            font-size: 2vw;    
    }
    }
    h2{
        font-size: $h2p;
        color: $title-color;
        text-align: center;
        @media screen and(max-width : 780px){
            font-size: 3vw;
        }
        @media screen and(min-width : 780px) and(max-width : 980px){  
            font-size: 1.7vw;    
    }
    }
    p{
        font-size: $paragraphe-size;
        color: $paragraphe-color;
        @media screen and(max-width : 780px){
            font-size: 2.3vw
        }
    }
    img[alt~="nadine"]{
        width: 29vw;
        position: relative;
        top: 3vw;
        @media screen and(max-width : 780px){
            margin: 0vw 0vw 3vw 0vw;
        }
    }

}