@font-face {
  font-family: OpenSans;
  src: url("OpenSans-variable.ttf");
}
body {
  font-family: OpenSans;
  max-width: 1920px;
}

#homepage {
  background-color: #efdecf;
}

.entete {
  display: flex;
  flex-flow: row wrap;
}
.entete .logo {
  width: 35%;
}
.entete .h1name {
  font-size: 2.4vw;
  margin-left: -7vw;
  margin-right: 1vw;
  color: #a39cac;
}
.entete .h1activity {
  font-size: 2.4vw;
  margin-left: 4vw;
  color: #516b99;
}
.entete .h2chemin {
  font-size: 2vw;
  margin-left: 35vw;
  margin-top: -3vw;
  color: #516b99;
}
@media screen and (max-width: 780px) {
  .entete .logo {
    width: 100%;
  }
  .entete .h1name {
    font-size: 4.3vw;
    margin-left: 0vw;
    margin-right: 0vw;
  }
  .entete .h1activity {
    font-size: 4vw;
    margin-left: 0vw;
    position: relative;
    left: 3vw;
    top: 0.3vw;
  }
  .entete .h2chemin {
    font-size: 3.5vw;
    margin-left: 0vw;
    margin-top: 0vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  .entete .logo {
    width: 40%;
  }
  .entete .h1name {
    font-size: 2.8vw;
    margin-left: -8vw;
    margin-right: 2vw;
  }
  .entete .h1activity {
    font-size: 2.8vw;
    margin-left: 0vw;
  }
  .entete .h2chemin {
    font-size: 2.4vw;
    margin-left: 40vw;
  }
}

.naventete {
  display: flex;
  margin-bottom: 5vw;
}
.naventete .bienvenue {
  font-size: 1.5vw;
  margin-top: 0.99vw;
  color: #516b99;
}
@media screen and (max-width: 780px) {
  .naventete .bienvenue {
    font-size: 3.7vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  .naventete .bienvenue {
    font-size: 1.8vw;
  }
}

.menu {
  display: flex;
  font-size: 1.2vw;
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  .menu {
    font-size: 1.6vw;
  }
  .menu .ulmenu {
    display: flex;
  }
}
.menu .deroulant {
  list-style-type: none;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 1.2vw;
}
.menu .deroulant a:hover {
  color: #516b99;
}
@media screen and (max-width: 780px) {
  .menu {
    flex-direction: column;
    font-size: 2.9vw;
  }
}
.menu .deroulant:hover .sous {
  display: block;
}
.menu .sous {
  display: none;
  list-style-type: none;
  padding-left: 0px;
  position: absolute;
  z-index: 123;
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  .menu .sous {
    font-size: 1.3vw;
    display: block;
  }
}
.menu .sous a:hover {
  background-color: #a39cac;
  color: #516b99;
}
.menu a {
  text-decoration: none;
  display: block;
  text-decoration: none;
  color: #a39cac;
  font-weight: bold;
}

footer {
  text-align: center;
}
@media screen and (max-width: 780px) {
  footer {
    padding: 3vw;
  }
}
footer hr {
  width: 40vw;
  color: #a39cac;
}
footer p {
  color: #a39cac;
  font-weight: bold;
  font-size: 1.2vw;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 780px) {
  footer p {
    font-size: 2.22vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  footer p {
    font-size: 1.7vw;
  }
}
footer img[alt~=fb] {
  width: 3vw;
  background-color: #a39cac;
}
footer img[alt~=insta] {
  width: 3vw;
  background-color: #a39cac;
}

#home .article1 {
  display: flex;
  height: 20vw;
}
@media screen and (max-width: 780px) {
  #home .article1 {
    flex-direction: column;
    height: 55vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #home .article1 {
    flex-direction: column;
    height: 35%;
  }
}
#home img[alt~=zen] {
  width: 16vw;
  position: relative;
  left: 2vw;
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}
@media screen and (max-width: 780px) {
  #home img[alt~=zen] {
    width: 30vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #home img[alt~=zen] {
    width: 30vw;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#home img[alt~=reflexo] {
  width: 22vw;
  position: relative;
  top: 5vw;
  left: 5vw;
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}
@media screen and (max-width: 780px) {
  #home img[alt~=reflexo] {
    width: 35vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #home img[alt~=reflexo] {
    width: 35vw;
  }
}
#home p {
  font-size: 0.99vw;
  color: #516b99;
}
@media screen and (max-width: 780px) {
  #home p {
    font-size: 2.3vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #home p {
    font-size: 1.6vw;
  }
}
#home h2 {
  font-size: 1.2vw;
  color: #516b99;
}
@media screen and (max-width: 780px) {
  #home h2 {
    text-align: center;
    font-size: 3vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #home h2 {
    font-size: 1.7vw;
  }
}
#home .photos {
  width: 49%;
}
@media screen and (max-width: 780px) {
  #home .photos {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #home .photos {
    display: flex;
    justify-content: center;
    padding-top: 2vw;
    width: 100%;
  }
}
#home .art1 {
  width: 49%;
  padding: 0vw 3vw 0vw 0vw;
}
@media screen and (max-width: 780px) {
  #home .art1 {
    width: 100%;
    padding: 5vw 0vw 0vw 0vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #home .art1 {
    width: 100%;
    padding: 7vw 0vw 0vw 0vw;
  }
}
#home .article2 {
  display: flex;
  height: 20vw;
}
@media screen and (max-width: 780px) {
  #home .article2 {
    height: 55vw;
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #home .article2 {
    flex-direction: column-reverse;
    height: 35%;
  }
}
#home img[alt~=spa] {
  width: 16vw;
  position: relative;
  bottom: 5vw;
  left: 3vw;
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
@media screen and (max-width: 780px) {
  #home img[alt~=spa] {
    width: 30vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #home img[alt~=spa] {
    width: 30vw;
  }
}
#home img[alt~=massage] {
  width: 20vw;
  position: relative;
  left: 6vw;
  top: 3vw;
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}
@media screen and (max-width: 780px) {
  #home img[alt~=massage] {
    width: 35vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #home img[alt~=massage] {
    width: 35vw;
  }
}
#home .art2 {
  width: 49%;
  padding: 0vw 3vw 0vw 3vw;
}
@media screen and (max-width: 780px) {
  #home .art2 {
    width: 100%;
    padding: 0vw 0vw 0vw 0vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #home .art2 {
    width: 100%;
    padding: 3vw 0vw 0vw 0vw;
  }
}
#home .photo2 {
  width: 49%;
}
@media screen and (max-width: 780px) {
  #home .photo2 {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #home .photo2 {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

#recettes {
  display: flex;
  margin: 0vw 3vw 6vw 3vw;
}
@media screen and (max-width: 780px) {
  #recettes {
    flex-direction: column;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #recettes {
    flex-direction: column;
    margin: 10vw 3vw 6vw 3vw;
  }
}
#recettes .article1rec {
  display: flex;
  flex-direction: column;
  width: 33%;
}
@media screen and (max-width: 780px) {
  #recettes .article1rec {
    width: 100%;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #recettes .article1rec {
    width: 100%;
  }
}
#recettes .article1rec .art1rec {
  display: flex;
  justify-content: center;
}
#recettes img[alt~=pizza] {
  width: 20vw;
}
@media screen and (max-width: 780px) {
  #recettes img[alt~=pizza] {
    width: 30vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #recettes img[alt~=pizza] {
    width: 30vw;
  }
}
#recettes .article2rec {
  width: 33%;
  text-align: center;
}
@media screen and (max-width: 780px) {
  #recettes .article2rec {
    width: 100%;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #recettes .article2rec {
    width: 100%;
  }
}
#recettes .article3rec {
  width: 33%;
  display: flex;
  flex-direction: column;
}
#recettes .article3rec .art3rec {
  display: flex;
  justify-content: center;
}
#recettes .article3rec p {
  font-size: 0.99vw;
  color: #516b99;
}
@media screen and (max-width: 780px) {
  #recettes .article3rec {
    width: 100%;
  }
  #recettes .article3rec p {
    font-size: 2.3vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #recettes .article3rec {
    width: 100%;
  }
  #recettes .article3rec p {
    font-size: 1.6vw;
  }
}
#recettes img[alt~=amande] {
  width: 20vw;
}
@media screen and (max-width: 780px) {
  #recettes img[alt~=amande] {
    width: 30vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #recettes img[alt~=amande] {
    width: 30vw;
  }
}
#recettes p {
  font-size: 0.99vw;
  color: #516b99;
}
@media screen and (max-width: 780px) {
  #recettes p {
    font-size: 2.3vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #recettes p {
    font-size: 1.6vw;
  }
}
#recettes h1 {
  font-size: 1.8vw;
  color: #516b99;
}
@media screen and (max-width: 780px) {
  #recettes h1 {
    font-size: 3.9vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #recettes h1 {
    font-size: 2vw;
  }
}
#recettes h2 {
  text-align: center;
  color: #516b99;
  font-size: 1.2vw;
}
@media screen and (max-width: 780px) {
  #recettes h2 {
    font-size: 3vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #recettes h2 {
    font-size: 1.7vw;
  }
}

#retrouver {
  margin: 0vw 3vw 6vw 3vw;
}
#retrouver .affiches {
  display: flex;
}
@media screen and (max-width: 780px) {
  #retrouver .affiches {
    flex-direction: column;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #retrouver .affiches {
    flex-direction: column;
  }
}
#retrouver h1 {
  font-size: 1.8vw;
  color: #516b99;
  text-align: center;
}
@media screen and (max-width: 780px) {
  #retrouver h1 {
    font-size: 3.9vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #retrouver h1 {
    font-size: 2vw;
  }
}
#retrouver h2 {
  font-size: 1.2vw;
  color: #516b99;
}
@media screen and (max-width: 780px) {
  #retrouver h2 {
    font-size: 2.3vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #retrouver h2 {
    font-size: 1.7vw;
  }
}
#retrouver img[alt~=journee] {
  width: 18vw;
}
@media screen and (max-width: 780px) {
  #retrouver img[alt~=journee] {
    width: 30vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #retrouver img[alt~=journee] {
    width: 30vw;
  }
}
#retrouver img[alt~=bienetre] {
  width: 18vw;
}
@media screen and (max-width: 780px) {
  #retrouver img[alt~=bienetre] {
    width: 30vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #retrouver img[alt~=bienetre] {
    width: 30vw;
  }
}
#retrouver img[alt~=conf] {
  width: 18vw;
}
@media screen and (max-width: 780px) {
  #retrouver img[alt~=conf] {
    width: 30vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #retrouver img[alt~=conf] {
    width: 30vw;
  }
}
#retrouver .art1event {
  width: 33%;
  text-align: center;
}
@media screen and (max-width: 780px) {
  #retrouver .art1event {
    width: 100%;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #retrouver .art1event {
    width: 100%;
  }
}
#retrouver .art2event {
  width: 33%;
  text-align: center;
}
@media screen and (max-width: 780px) {
  #retrouver .art2event {
    width: 100%;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #retrouver .art2event {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
#retrouver .art3event {
  width: 33%;
  text-align: center;
}
@media screen and (max-width: 780px) {
  #retrouver .art3event {
    width: 100%;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #retrouver .art3event {
    width: 100%;
  }
}

#conseils {
  margin: 0vw 3vw 6vw 3vw;
}
#conseils .advice {
  display: flex;
}
@media screen and (max-width: 780px) {
  #conseils .advice {
    flex-direction: column;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #conseils .advice {
    flex-direction: column;
  }
}
#conseils h1 {
  font-size: 1.8vw;
  color: #516b99;
  text-align: center;
  margin: 0vw 0vw 4vw 0vw;
}
@media screen and (max-width: 780px) {
  #conseils h1 {
    font-size: 3.9vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #conseils h1 {
    font-size: 2vw;
  }
}
#conseils h2 {
  font-size: 1.2vw;
  color: #516b99;
}
@media screen and (max-width: 780px) {
  #conseils h2 {
    font-size: 3vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #conseils h2 {
    font-size: 1.7vw;
  }
}
#conseils .art1conseil {
  width: 50%;
  margin-right: 3vw;
}
#conseils .art1conseil .art1photo1 {
  text-align: center;
}
@media screen and (max-width: 780px) {
  #conseils .art1conseil {
    width: 100%;
    margin-right: 0vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #conseils .art1conseil {
    width: 100%;
    margin-right: 0vw;
  }
}
#conseils .art2conseil {
  width: 50%;
  margin-left: 3vw;
}
#conseils .art2conseil .art2photo2 {
  text-align: end;
}
@media screen and (max-width: 780px) {
  #conseils .art2conseil .art2photo2 {
    text-align: center;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #conseils .art2conseil .art2photo2 {
    text-align: center;
  }
}
@media screen and (max-width: 780px) {
  #conseils .art2conseil {
    width: 100%;
    margin-left: 0vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #conseils .art2conseil {
    width: 100%;
    margin-left: 0vw;
  }
}
#conseils img[alt~=grossesse] {
  width: 9vw;
}
@media screen and (max-width: 780px) {
  #conseils img[alt~=grossesse] {
    width: 14vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #conseils img[alt~=grossesse] {
    width: 14vw;
  }
}
#conseils img[alt~=sommeil] {
  width: 20vw;
}
@media screen and (max-width: 780px) {
  #conseils img[alt~=sommeil] {
    width: 30vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #conseils img[alt~=sommeil] {
    width: 30vw;
  }
}
#conseils p {
  font-size: 0.99vw;
  color: #516b99;
  -moz-column-width: 15vw;
       column-width: 15vw;
}
@media screen and (max-width: 780px) {
  #conseils p {
    font-size: 2.3vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #conseils p {
    font-size: 1.6vw;
  }
}

#naturo {
  margin: 0vw 3vw 6vw 3vw;
}
#naturo h1 {
  font-size: 1.8vw;
  color: #516b99;
  text-align: center;
  position: relative;
  bottom: 5vw;
}
#naturo h2 {
  font-size: 1.2vw;
  color: #516b99;
}
#naturo h3 {
  color: #516b99;
  font-size: 1.6vw;
  position: relative;
  top: 8vw;
  margin: 0vw;
}
#naturo img[alt~=bureau] {
  width: 25vw;
  position: relative;
  bottom: 4vw;
}
#naturo img[alt~=feuille1] {
  width: 25vw;
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#naturo img[alt~=feuille2] {
  width: 25vw;
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
}
#naturo img[alt~=tableau] {
  width: 21vw;
}
#naturo .naturoflex {
  display: flex;
  height: 10vw;
  text-align: center;
}
#naturo .naturoflex div {
  width: 33%;
}
#naturo .naturoflex .tech {
  width: 33%;
  position: relative;
  top: 12vw;
}
#naturo .divfeuille1 {
  text-align: end;
  height: 12vw;
  padding-right: 5vw;
  margin-top: -6vw;
}
#naturo .divfeuille2 {
  padding-left: 3vw;
}
#naturo .divtab {
  text-align: center;
}
#naturo .butl1 {
  width: 3vw;
  font-weight: bold;
  background-color: green;
  height: 1vw;
  border: none;
  border-radius: 7px;
  position: relative;
  left: 13vw;
  bottom: 2.7vw;
}
#naturo .butl2 {
  width: 3vw;
  font-weight: bold;
  background-color: green;
  height: 1vw;
  border: none;
  border-radius: 7px;
  position: relative;
  left: 13vw;
  bottom: 2.7vw;
}
#naturo .butr1 {
  width: 3vw;
  font-weight: bold;
  background-color: green;
  height: 1vw;
  border: none;
  border-radius: 7px;
  position: relative;
  right: 14vw;
  bottom: 2.7vw;
}
#naturo .butr2 {
  width: 3vw;
  font-weight: bold;
  background-color: green;
  height: 1vw;
  border: none;
  border-radius: 7px;
  position: relative;
  right: 14vw;
  bottom: 2.7vw;
}
@media screen and (max-width: 780px) {
  #naturo .div2naturo h1 {
    font-size: 3.9vw;
  }
}

#comment {
  margin: 0vw 6vw 3vw 6vw;
}
#comment h1 {
  font-size: 1.8vw;
  color: #516b99;
  text-align: center;
  bottom: 5vw;
}
#comment h2 {
  font-size: 1.2vw;
  color: #516b99;
}
#comment p {
  font-size: 0.99vw;
  color: #516b99;
}

#principes {
  margin: 0vw 6vw 3vw 6vw;
}
#principes h1 {
  font-size: 1.8vw;
  color: #516b99;
  text-align: center;
  bottom: 5vw;
}
#principes h2 {
  font-size: 1.2vw;
  color: #516b99;
}
#principes h3 {
  color: #516b99;
  font-size: 1.6vw;
}
#principes p {
  font-size: 0.99vw;
  color: #516b99;
}

#techniques {
  margin: 0vw 6vw 3vw 6vw;
}
#techniques h1 {
  font-size: 1.8vw;
  color: #516b99;
  text-align: center;
  bottom: 5vw;
}
#techniques h2 {
  font-size: 1.2vw;
  color: #516b99;
}
#techniques h3 {
  color: #516b99;
  font-size: 1.6vw;
}
#techniques p {
  font-size: 0.99vw;
  color: #516b99;
}

#consulter {
  margin: 0vw 6vw 3vw 6vw;
}
#consulter h1 {
  font-size: 1.8vw;
  color: #516b99;
  text-align: center;
  bottom: 5vw;
}
#consulter h2 {
  font-size: 1.2vw;
  color: #516b99;
}
#consulter h3 {
  color: #516b99;
  font-size: 1.6vw;
}
#consulter p {
  font-size: 0.99vw;
  color: #516b99;
}

#tarifs {
  margin: 0vw 6vw 3vw 6vw;
}
#tarifs h1 {
  font-size: 1.8vw;
  color: #516b99;
  text-align: center;
  bottom: 5vw;
}
#tarifs h2 {
  font-size: 1.2vw;
  color: #516b99;
}
#tarifs h3 {
  color: #516b99;
  font-size: 1.6vw;
}
#tarifs p {
  font-size: 0.99vw;
  color: #516b99;
}

#reflexologie {
  margin: 0vw 3vw 3vw 3vw;
}
#reflexologie .reflexo {
  display: flex;
}
#reflexologie .reflexoimg {
  width: 50%;
}
#reflexologie .reflexotext {
  width: 50%;
}
#reflexologie img[alt~=reflexo] {
  width: 25vw;
}
#reflexologie img[alt~=pied] {
  width: 8vw;
  -webkit-animation-name: fadein;
          animation-name: fadein;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#reflexologie img[alt~=tableau] {
  width: 21vw;
}
#reflexologie .pied8 {
  position: relative;
  bottom: 5vw;
}
#reflexologie .pied6 {
  position: relative;
  top: 4vw;
}
#reflexologie .pied5 {
  position: relative;
  top: 7vw;
}
#reflexologie .pied4 {
  position: relative;
  top: 9vw;
}
#reflexologie .pied3 {
  position: relative;
  top: 10vw;
}
#reflexologie .pied2 {
  position: relative;
  bottom: 2vw;
}
#reflexologie .pied1 {
  position: relative;
  bottom: 8vw;
}
#reflexologie h1 {
  font-size: 1.8vw;
  color: #516b99;
  text-align: center;
  bottom: 5vw;
}
#reflexologie h2 {
  font-size: 1.2vw;
  color: #516b99;
}
#reflexologie h3 {
  color: #516b99;
  font-size: 1.6vw;
  position: relative;
  top: 8vw;
  margin: 0vw;
}
#reflexologie p {
  font-size: 0.99vw;
  color: #516b99;
}
#reflexologie .reflexotab {
  text-align: center;
}

#massage {
  margin: 0vw 3vw 3vw 3vw;
}
#massage .suedois {
  display: flex;
}
#massage h1 {
  font-size: 1.8vw;
  color: #516b99;
  text-align: center;
}
#massage h2 {
  font-size: 1.2vw;
  color: #516b99;
  text-align: center;
}
#massage h3 {
  color: #516b99;
  font-size: 1.6vw;
  position: relative;
  top: 8vw;
  margin: 0vw;
}
#massage p {
  font-size: 0.99vw;
  color: #516b99;
  text-align: center;
}
#massage img[alt~=tableau] {
  width: 21vw;
}
#massage img[alt~=massage] {
  width: 17vw;
  position: relative;
  left: 4vw;
  top: 4vw;
}
#massage img[alt~=spa] {
  width: 17vw;
  position: relative;
  top: 14vw;
}
#massage .massagetext {
  width: 50%;
}
#massage .massagephoto {
  width: 50%;
}
#massage .massagetab {
  text-align: center;
}

#presentation {
  margin: 0vw 3vw 3vw 3vw;
}
#presentation .present {
  display: flex;
}
@media screen and (max-width: 780px) {
  #presentation .present {
    flex-direction: column;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #presentation .present {
    flex-direction: column;
  }
}
#presentation .nadinephoto {
  width: 33%;
}
@media screen and (max-width: 780px) {
  #presentation .nadinephoto {
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #presentation .nadinephoto {
    width: 100%;
    text-align: center;
  }
}
#presentation .nadinetext {
  width: 33%;
}
@media screen and (max-width: 780px) {
  #presentation .nadinetext {
    width: 100%;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #presentation .nadinetext {
    width: 100%;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #presentation .nadinetext {
    padding-top: 2vw;
  }
}
#presentation .nadinetext p {
  margin: 2vw;
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #presentation .nadinetext p {
    font-size: 1.6vw;
  }
}
#presentation .nadineavis {
  width: 33%;
  border: 1px solid #a39cac;
}
@media screen and (max-width: 780px) {
  #presentation .nadineavis {
    width: 100%;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #presentation .nadineavis {
    width: 100%;
  }
}
#presentation .nadineavis p {
  margin: 2vw;
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #presentation .nadineavis p {
    font-size: 1.6vw;
  }
}
#presentation h1 {
  font-size: 1.8vw;
  color: #516b99;
  text-align: center;
  bottom: 5vw;
}
@media screen and (max-width: 780px) {
  #presentation h1 {
    font-size: 3.9vw;
    margin: 0vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #presentation h1 {
    font-size: 2vw;
  }
}
#presentation h2 {
  font-size: 1.2vw;
  color: #516b99;
  text-align: center;
}
@media screen and (max-width: 780px) {
  #presentation h2 {
    font-size: 3vw;
  }
}
@media screen and (min-width: 780px) and (max-width: 980px) {
  #presentation h2 {
    font-size: 1.7vw;
  }
}
#presentation p {
  font-size: 0.99vw;
  color: #516b99;
}
@media screen and (max-width: 780px) {
  #presentation p {
    font-size: 2.3vw;
  }
}
#presentation img[alt~=nadine] {
  width: 29vw;
  position: relative;
  top: 3vw;
}
@media screen and (max-width: 780px) {
  #presentation img[alt~=nadine] {
    margin: 0vw 0vw 3vw 0vw;
  }
}/*# sourceMappingURL=style.css.map */